.task {
  padding: 20px 5px;
  background-color: #f4f4f4;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
}

#answers {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 200px;
  float: right;
}

#answers:hover {
  cursor: grab;
}

#answers li,
#questions li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 17px;
  height: 16px;
  list-style-type: none;
}

.answer {
  border: 1px solid #000;
  background-color: #d7d7ff;
}

.question {
  border: 1px solid transparent;
}

#questions {
  float: left;
  width: 200px;
  margin: 0px;
  padding: 0px;
}
#id{
  float: left;
  width: 100%;
}